.bayangan{
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}
.lingkaran{
    border-radius: 50%;
}
.gambar1{
    max-width: 50px;
}
.aaa {
    text-decoration: none !important;
    color: #f8f9fa;
}

.aaa:hover {
    color: #fff107 !important;
}

.aa:hover {
    color: #343a40 !important;
}

.bunder {
    width: 80%;
    margin-top: 20px; 
    border-style: solid !important;
    border-width: 3px !important;
    border-color: #fff107;
}

.kartu{
    border-style: solid !important;
    border-width: 3px !important;
    border-color: #6c757d !important;
}

.judul{
    margin-top: 80px !important;
}

.progres{
    height: 4px !important;
}
